<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>313950763281-fdqlhputrrqrl3vmge4bihpg2b7rh4eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313950763281-fdqlhputrrqrl3vmge4bihpg2b7rh4eo</string>
	<key>API_KEY</key>
	<string>AIzaSyC_NCC5px_3RSiI800J_lTL8NSV1JCowxI</string>
	<key>GCM_SENDER_ID</key>
	<string>313950763281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.senior.wanderapp</string>
	<key>PROJECT_ID</key>
	<string>senior-wander-app</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-wander-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313950763281:ios:04d93373a5498f65</string>
	<key>DATABASE_URL</key>
	<string>https://senior-wander-app.firebaseio.com</string>
</dict>
</plist>